---
import MainGridLayout from "../../layouts/MainGridLayout.astro";

import { getEntry } from "astro:content";
import { i18n } from "../../i18n/translation";
import I18nKey from "../../i18n/i18nKey";
import Markdown from "@components/misc/Markdown.astro";

const boycottPost = await getEntry("spec", "boycott");

const { Content } = await boycottPost.render();
---

<script>
    import {
        fetchData,
        get_example_data,
        type BoycottList,
    } from "../../utils/abdoo/getAPI";
    import { set_p_text, ran_int } from "../../utils/abdoo/funcs";
    import { defineCollection } from "astro:content";

    const leButton = document.getElementById("reload-api") as HTMLAnchorElement;
    const api_content = document.getElementById(
        "api-content",
    ) as HTMLDivElement;

    async function update_data() {
        api_content.style.display = "block";
        set_p_text(api_content, "Accessing API...");

        const leData = await fetchData(
            `https://api.notoisrael.net/api/brand/get/${ran_int(0, 70)}`,
        )
            .then((data: BoycottList) => {
                // console.log("API Response:", data);
                api_content.style.color = "green";
                set_p_text(api_content, "Accessed API Successfully!");
                console.log(data);
                set_p_text(api_content, JSON.stringify(data));
            })
            .catch((error: any) => {
                // console.error("Error:", error);
                api_content.style.color = "red";
                set_p_text(
                    api_content,
                    `Failed to access API<br/>Putting example instead...`,
                );

                generate_boycott_card(get_example_data());
            });
    }

    function generate_boycott_card(data: BoycottList): void {
        api_content.innerHTML += `
        <br/><h1 style="font-size: 39px; font-weight: bolder;">${data.data?.brandName}</h1>
        <a href=${data.data?.proofLink} target="_blank" style="text-decoration:underline;">Proof link</a>
        `;
    }

    leButton?.addEventListener("click", update_data);
</script>

<MainGridLayout title={i18n(I18nKey.boycott)}>
    <div
        class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
    >
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
            <br />
            <!-- TODO: add button under this -->
            <a
                aria-label="Reload Boycott API"
                class="btn-plain h-11 font-bold px-5 rounded-lg active:scale-95"
                style="cursor: pointer;"
                id="reload-api"
            >
                <div class="flex items-center">Reload API</div>
            </a>
            <div id="api-content" style="display: none;" class="text-90"></div>
        </div>
    </div>
</MainGridLayout>
