---
import MainGridLayout from "../../layouts/MainGridLayout.astro";

import { getEntry } from "astro:content";
import { i18n } from "../../i18n/translation";
import I18nKey from "../../i18n/i18nKey";
import Markdown from "@components/misc/Markdown.astro";

const boycottPost = await getEntry("spec", "boycott");

const { Content } = await boycottPost.render();
---

<script>
    import fetchData from "../../utils/abdoo/getAPI";

    const leButton = document.getElementById("reload-api") as HTMLAnchorElement;
    const api_content = document.getElementById(
        "api-content",
    ) as HTMLDivElement;

    function update_data() {
        const leData = fetchData("api.notoisrael.net/api/brand/get/1")
            .then((data: any) => {
                console.log("API Response:", data);
            })
            .catch((error: any) => {
                // Handle errors
                console.error("Error:", error);
            });
    }

    leButton.addEventListener("click", function () {
        api_content.style.display = "block";
        api_content.innerHTML = "<br/>Panda";
    });
</script>

<MainGridLayout title={i18n(I18nKey.boycott)}>
    <div
        class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
    >
        <div class="card-base z-10 px-9 py-6 relative w-full">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
            <br />
            <!-- TODO: add button under this -->
            <a
                aria-label="Reload Boycott API"
                class="btn-plain h-11 font-bold px-5 rounded-lg active:scale-95"
                style="cursor: pointer;"
                id="reload-api"
            >
                <div class="flex items-center">Reload API</div>
            </a>
            <div id="api-content" style="display: none;" class="text-90"></div>
        </div>
    </div>
</MainGridLayout>
